/*--Created Main Body of the file (RS)*/
/*https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_checkout_form (RS)*/
/*Styling for body and Background image(RS)*/
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    padding: 8px;
    background-image: url("background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    overflow-x: hidden;
  }
  
  * {
    box-sizing: border-box;
  }
  /* Lets the Page become reactive as browser gets smaller and into mobile format(RS) */
  .row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    margin: 0 -16px;
  }
  /*Flex's each div to there specified requirement(RS) */
  .col-25 {
    -ms-flex: 30%; /* IE10 */
    flex: 30%;
  }
  /*Flex's each div to there specified requirement(RS) */
  .col-50 {
    -ms-flex: 50%; /* IE10 */
    flex: 50%;
    
  }
  /*Flex's each div to there specified requirement(RS) */
  .col-75 {
    -ms-flex: 70%; /* IE10 */
    flex: 70%;
  }
  /*Flex's each div to there specified requirement(RS) */
  .col-25,
  .col-50,
  .col-75 {
    padding: 0 30px;
  }
  /*Styling For the payment box(RS)*/
  .container {
    background-color: #f2f2f2;
    padding: 10px 20px 15px 20px;
    border: 1px solid rgb(211, 211, 211);
    border-radius: 20px;
    opacity: 0.92;
  }
  /*Styling For the mini cart box(RS)*/
  .container-cart {
    background-color: #f2f2f2;
    padding: 10px 10px 5px 10px;
    border: 1px solid rgb(211, 211, 211);
    border-radius: 20px;
    opacity: 0.92;
  }
  /*Styling input text box (RS)*/
  input[type=text] {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  /* Margin to separate text with input boxes(RS) */
  label {
    margin-bottom: 10px;
    display: block;
  }
  /* Container for payment icons(RS) */
  .icon-container {
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 40px;
    text-align: center;
  }
  /*Styling for the Payment and go back home button(RS)*/
  .btn {
    background-color: #04AA6D;
    color: white;
    padding: 12px;
    margin: 10px 0;
    border: none;
    width: 100%;
    border-radius: 15px;
    cursor: pointer;
    font-size: 17px;
  }
  /*Change color when hover over button(RS)*/
  .btn:hover {
    background-color: #45a049;
  }
  /* Color of text(RS) */
  a {
    color: #2196F3;
  }
  /* Color of line(RS) */
  hr {
    border: 1px solid lightgrey;
  }
  /* Color of span width(RS) */
  span.price {
    float: right;
    color: grey;
  }
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (also change the direction - make the "cart" column go on top) (RS)*/
  @media (max-width: 800px) {
    .row {
      flex-direction: column-reverse;
    }
    .col-25 {
      margin-bottom: 20px;
    }
  }
  /* Padding and align of h2 tags(RS) */
  h2{
      text-align: center;
      padding: 15px;
  }