/*Created CSS File (RS)*/
/* body of page (JP) */
body{
    background-image: url("background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin: 0;
}
ul{
    list-style-type: none;
}
/* class for the email and password and the buttons alignment (JP) */
.table{
    margin-left: auto;
    margin-right: auto;
}
/* spacing between elements (JP) */
td{
padding-bottom: 10px;
}
/* class for the middle content of page (JP) */
.content{
    width: -moz-fit-content;
    height: -moz-fit-content;
    margin: auto;
}
/* styling for the initials JJR (JP) */
.initials{
    font-size: 200%;
}
/* styling for "Bikes" on the title (JP) */
h1{
    font-size: 250%;    
}
/* styling for "Login " on the title (JP) */
h3{
    font-size: 200%;
}
/*Added styling for input boxes such as rounding corners and a box shadow(RS)*/
.box-styling{
    padding:10px;
    border-radius:15px;
    box-shadow: 3px;
}
/*Styling for the registration button(RS)*/
.button-styling{
    padding:4px;
    border-radius:5px;
    color:#fff;
    background-color:#000080; 
}